PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/insight_dashboard

GOOGLE_CLOUD_PROJECT=your-google-cloud-project-id

GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-credentials.json

JWT_SECRET=your-jwt-secret-here

JWT_EXPIRES_IN=1d